.header {
    position: relative;
    height: 95vh;
    background-image:linear-gradient(to right,
    #7ed56fc7,
     #28b485bb ),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh ,0 100%);
    &__logo-box {
        position: absolute;
        top: 3%;
        left: 3%;
    }
    &__logo {
        height: 35px;
    }
    &__box--center {
        position: absolute;
        left: 50%;
        bottom: 60%;
        transform: translate(-50%,50%);
        text-align: center;
    }
}
